.footer-container {
    display: block;
    clear: both;
    background-color: #e8edef;
    font-family: Segoe UI, Verdana, Helvetica, Sans-Serif;
    font-size: 0.7em;
    color: #4F6B7C;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer {
    margin: 0 auto;
    max-width: 1600px;
    clear: both;
    padding: 10px 50px 0;
    height: 100%;
}